<h1 class="text-center">Time played {{table.prettyTimePlayed}}</h1>


<div class="row">
    <div class="col-xs-6" data-ng-repeat="player in table.players.collection">
        <black-jack-player data-name="{{table.players.collection[$index].name}}"/>
    </div>
</div>

<input type="text" name="playerName" ng-model="table.playerNameToAdd"><a href="#" class="btn" data-ng-click="table.addPlayer()">Add</a>

<hr/>

<div class="row">
    <div class="col-xs-6">
        &nbsp;
    </div>
    <div class="col-xs-6">
        <a class="btn btn-success" data-ng-click="table.reshuffle()">Reshuffle</a>
    </div>
</div>